language: ruby
git:
  depth: false
cache:
  bundler: true
  yarn: true
  directories:
    - node_modules
env:
  global:
    - CC_TEST_REPORTER_ID=b07859ceb064fed550f1ce8eb913053ad9b99271a9a0837bf94491262516214e
services:
  - postgresql
install:
  - bundle install --jobs=3 --retry=3
  - yarn install
before_script:
  - psql -c 'create database work_app_test;' -U postgres
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
script:
  - bundle exec rspec
  - yarn test
after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
