<p>Hi</p>
<p>The work plan has been updated. You can start using it or modify its settings from the following link:</p>

<a href='<%= work_plan_build_url(@work_plan, :dispatch) %>'>Work Plan <%= @work_plan.id %></a>

<p>Regards,</p>
<p>AKER</p>