<h1>Dispatch failed for Work Order <%= @work_order.id %> (part of <%= link_to "Work Plan #{@work_order.work_plan.id}", work_plan_build_url(@work_order.work_plan, :dispatch) %>)</h1>

<p>Aker developers have been made aware of this issue. When it has been resolved you will receive an email that the Work Order has been dispatched.</p>