<h1>Work Order <%= @work_order.id %> has been dispatched</h1>

<p>This Work Order is part of <%= link_to "Work Plan #{@work_order.work_plan.id}", work_plan_build_url(@work_order.work_plan, :dispatch) %>. </p>