<table class="table table-striped"
  data-psd-component-class="DataTableInitialization"
  data-psd-component-parameters="<%= { ordering: false }.to_json %>">
  <thead>
    <tr>
      <th>ID</th>
      <th>Created by</th>
      <th>Project</th>
      <th>Product</th>
      <% if group != 'construction' %>
        <th>Work Orders</th>
      <% end %>

      <% if group=='active' %>
        <th>Status</th>
      <% elsif group=='construction' %>
        <th>Step</th>
      <% end %>


      <th>Created</th>
      <th>Updated</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render work_plans %>
  </tbody>

</table>
