<pre>
Number of samples : <span id="num-of-samples"></span>
  Cost per sample : <span id="cost-per-sample"></span>

            Total : <span id="total"></span>
</pre>

<p style="color:red">&#9888; This cost comes from a mocked service, not from UBW.</p>