<div class="row">
  <div class="col-md-12">
    <h3><%= title %></h3>
  </div>
</div>

<div class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-success" role="progressbar" aria-valuenow="<%= progress %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= progress %>%">
    <span class="sr-only"><%= progress %>% Complete (success)</span>
  </div>
</div>