<div class="row" id="progress-bar">
  <% wizard_steps.each_with_index do |step, index| %>
    <div class="col-xs-2 <%= "col-xs-offset-2" if index == 0 %> bs-wizard-step <%= step_classes(index) %>">
      <div class="text-center"><%= step_titles[index] %></div>
      <div class="progress">
        <div class="progress-bar"></div>
      </div>
      <a href="#" class="step-indicator"></a>
    </div>
  <% end %>
</div>
