<pre>
  Cost per sample: <span id="cost_per_sample"></span>
  Requested biomaterial type: <span id="requested_biomaterial_type"></span>
  Product version: <span id="product_version"></span>
  TAT: <span id="tat"></span>
  Description: <span id="description"></span>
  Availability: <span id="availability"></span>
  Product class: <span id="product_class"></span>
</pre>