<%= render partial: 'order_header', locals: { title: "Step 3: Select Set" , progress: 60 } %>
<div class="row">
  <div class="col-md-12">
    <div style="margin: 10px 0">

      <%= link_to 'Back', previous_wizard_path, class: 'btn btn-default' %>
      <%= link_to 'Next', next_wizard_path, class: 'btn btn-default', style: "float: right" %>

      <%= link_to 'Cancel', work_order,
            method: :delete,
            class: 'btn btn-danger',
            data: { confirm: 'Are you sure you wish to cancel this work order?' },
            style: "float: right; margin-right: 7px"
      %>

    </div>
  </div>
</div>