<pre>
Number of samples : <%= num_of_samples %>
  Cost per sample : <%= cost_per_sample %>

            Total : <%= total %>
</pre>

<p style="color:red">&#9888; This cost comes from a mocked service, not from UBW.</p>