<select id="step1" style="width:100px">
  <% for(var i=0; i < available_links["start"].length; i++){ %>
    <option><%= available_links["start"][i] %></option>
  <% } %>
</select>

<select id="step2" style="width:100px">
  <% for(var i=0; i < available_links["start"].length; i++){ %>
    <option><%= available_links["start"][i] %></option>
  <% } %>
</select>