<table class="table table-striped">
  <thead>
    <tr>
      <th>Product</th>
      <th>Date Created</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render work_orders %>
  </tbody>

</table>