<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Closed with status</th>
          <th>Comment</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= work_order.status %></td>
          <td><%= work_order.close_comment %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
