<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Proposal</th>
          <th>Cost Code</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= work_order.proposal.name %></td>
          <td><%= work_order.proposal.cost_code %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
