<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
    		  <th>Set</th>
    		  <th>Set UUID</th>
        </tr>
      </thead>
      <tbody>
        <tr>
    		  <td><%= work_order.original_set.name %></td>
    		  <td><%= work_order.original_set.uuid %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>