<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Selected set</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= work_order.original_set.name %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
