<div class="row">
	<div class="col-md-12">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Work Order</th>
					<th>Desired Date</th>
					<th>Comment</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><%= work_order.id %></td>
					<td><%= work_order.desired_date %></td>
					<td><%= work_order.comment %></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>